
*:focus {
    outline: none;
}   

body{
    padding: 0;
    margin: 0;
    background-color: #fff;
    background-attachment: fixed;
    font-family:"proxima-nova";
}

#wrapper-navbar {
    position: relative;
    margin: initial;
    padding: initial;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.custom-logo-link {
    padding: 0 1em;
    box-sizing: border-box;
    float: left;
}

.navbar-collapse{
    float: right;
    margin-right: 0.5em;
}

.navbar-collapse .navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-collapse .navbar-nav .menu-item {
    list-style: none;
    position: relative;
}

.navbar-collapse .navbar-nav .menu-item .nav-link {
    display: block;
    margin: 1em 0;
    padding: 1em 1em;
    text-decoration: none;
    color: black;
    font-family:"proxima-nova";
    font-weight: 600;
    opacity: 0.6; 
    box-sizing: border-box;
}

.navbar-nav .dropdown-menu {
    float: none;
}

.dropdown-menu {
    opacity: 0;
    transition: all .15s linear;
    transform: translateY(1%);
    display: block;
    float: left;
    min-width: 7rem;
    margin: -1rem 0rem 0rem 0.6rem;
    padding-left: 0em;
    color: #212529;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}


.dropdown-toggle::after {
    content: '\f107';
    float: right;
    font-family: fontAwesome;
    line-height: 20px;
}

.navbar-collapse .menu-item-has-children:hover {
    opacity: 1;
}

.dropdown-menu .menu-item  {
    padding: 0.5rem 0.5rem 0.5rem 0.9rem;   
    font-weight: 500;
}

.dropdown-menu .menu-item:hover {
    background-color: #f4434d;
}

.dropdown-menu .menu-item:hover .dropdown-item {
    color:  #fff;
}

.dropdown-menu .menu-item .dropdown-item {
    text-decoration: none;
    text-align: left;
    font-size: initial;
    font-family:"proxima-nova";
    color: #000;
}

.navbar-nav .menu-item-has-children:hover .dropdown-menu{
    opacity: 1;
}

.navbar-collapse .navbar-nav .menu-item .nav-link:hover {
    opacity: 1;
}

.navbar-collapse .navbar-nav .menu-item .active{
    opacity: 1;
}

.navbar-collapse .navbar-nav .menu-icon-search .nav-link img{
    fill: rgba(0, 0, 0, .2);
}

.navbar-collapse .navbar-nav .menu-item .btn-bg-red {
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    margin: 1.3em 0.5em ;
    padding: 0.7em 2em;
    text-decoration: none;
    font-family:"proxima-nova";
    font-weight: 600;
    color: #fff;
    background-color: #f4434d;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all .3s linear;
}

.navbar-collapse .navbar-nav .menu-item .btn-bg-red:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.clearfix {
    clear: both;
}

@media (min-width: 1200px) {
    #wrapper-navbar {
        margin: 0;
        flex-wrap: nowrap;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .menu-btn-group {
        display: none;
    }

    .wrap-search-form {
        display: none;
    }
}

@media (max-width: 1200px) {
    
    .menu-icon-search {
        display: none;
    }

    .custom-logo-link {
        padding: 0em;
        margin: 0 1em 1em 4em;
    }
    
    .menu-btn-group {
        padding: 0;
        margin: 0 4em 1em 1em;
    }

    .menu-btn-group .search-icon {
        padding-top: 1em;
    }

    .menu-btn-group .menu-toggle {
        padding-top: 1.25em;
    }

    .search-icon, .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 20px;
    }

    .search-icon::before {
        content: '\f002';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .menu-toggle.active::before {
        content: '\f00d';
    }

    .dropdown-toggle::after {
        position: absolute;
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.active {
        display: block;
        width: 100%;
    }
    
    .navbar-collapse.active .navbar-nav {
        display: block;
        margin-left: 5em;
    }

    .navbar-collapse.active .navbar-nav .menu-item .dropdown-menu {
        display: block;
        opacity: 1;
        border: none;
    }

    .navbar-collapse .navbar-nav .menu-item .nav-link {
        margin: 0;
        position: relative;
        font-size: 1.1em;
        padding: .5em 1em;
    }

    .dropdown-menu .menu-item {
        margin: 1.5em 1em 0.5em;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 500;
    }

    /* Search */ 
    .wrap-search-form {
        display: none;
    }

    .icon-close.active {
        float: right;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-bottom: 1em;
        box-shadow: 0 15px 15px rgba(0,0,0,.1);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: #00182e;
        cursor: pointer;
        transition: ease-in-out .4s;
    }

    .wrap-search-form.active {
        display: block;
    }

    .wrap-search-form.inactive {
        display: none;
    }    

    .justify-content-center {
        widows: 100%;
        margin: 10em 10em 10em 10em;
    } 

    .field {
        width: 100%;
        font-weight: 400;
        font-size: 1em;
        border: none;
        border-radius: 0;
        padding-bottom: 2em;
        border-bottom: 1px solid black;
        margin: 1em 3em 3em 0;
    }

    .submit {
        display: inline-block;
        text-align: center;
        text-transform: capitalize;
        padding: .7em 2.5em;
        text-decoration: none;
        font-family: "proxima-nova";
        font-weight: 600;
        font-size: 1.2em;
        color: white;
        background-color: #00182e;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: all .3s linear;
    }

}